<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias alias="member" type="com.icia.myproject.dto.MemberDTO"/>
		<typeAlias alias="board" type="com.icia.myproject.dto.BoardDTO"/>
		<typeAlias alias="comment" type="com.icia.myproject.dto.CommentDTO"/>
		<typeAlias alias="file" type="com.icia.myproject.dto.FileDTO"/>
		<typeAlias alias="paging" type="com.icia.myproject.page.Paging"/>
	</typeAliases>
</configuration>
