*{
    font-family: 'Yeon Sung', cursive;
}
body{
	background-color: rgb(245,246,247);
}
#bview{
float:right;
}
#modify{
float:right;
}
#writedate{
float:right;
display:block;
}
#file{
float:right;
}
#filedownload{
display:none;
position:absolute;
z-index:1000;
right:0;
border:black solid 1px;
width:200px;
background-color: rgba(128,128,128,0.3);
}
#contentar{
width:100%;
position:absolute;
z-index:900;
}
#logoar{
    margin-right: 80%;
    width: 140px;
    height: 50px;
    margin-top: 20px;
}
#logo{
    width: 140px;
    height: 50px;
    margin-top: 20px;
}
#close{
	float:right;
}
#main{
	display:block;
	width:100%;
}
table{
	width:100%;
}
th{
	border-bottom:black solid 1px;
}
.commentar{
	width:100%;
}
#profileimg{
width:80px;
height:80px;
float:left;
}
#writerinfo{
	width:5%;
	text-align:center;
}
#commentwritear{
		width:90%;
		text-align:left;
}
#commentwrite{
	width:100%;
}
#commentbtnar{
	width:5%;
}
#commentbtn{
	width:100%;
	padding:10px;
	cursor:pointer;
}
#commentwriterar{
	width:10%;
}
#commentcontentar{
	width:80%;
}
#commentwridatear{
	width:10%;
	text-align:center;
}
