*{
    font-family: 'Yeon Sung', cursive;
}
body{
    background-color: black;
}
caption{
    text-align: center;
    padding: 10px;
}
table{
    margin: auto;
    
}
tr{
  height: auto;  
}
td{
    height: auto;
}
input{
    width: 200px;
    height: auto;
}