.mid{
display:block;
background-Color:white;
}
.textbox {
    position: relative;
}
.textbox input{
    font-size: 20px;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background-color: #999;
    color:white;
}
.textbox label {
    position: absolute;  
    color: white; 
    cursor: text; 
    transition: 0.3s;
}
.loginar{
	float:right;
	margin-left:70%;
	display:flex;
	border:black solid 1px;
	padding :10px;
}
#loginbtn{
	width:80px;
	height:80px;
	padding:10px;
	cursor:pointer;
}
.loginbtnar{
	padding:10px;
}
.loginMain{
	float:right;
	margin-left:70%;
	display:block;
	border:black solid 1px;
	padding :10px;
	width:300px;
height:auto;
}
#profileimg{
width:80px;
height:80px;
}
.rightar{
display:flex;
padding:10px;
}
.infoFnar{
padding:10px;
}