.mid{
display:block;
    background-color: rgb(245,246,247);
}
.textbox {
    position: relative;
}
.textbox input{
    font-size: 20px;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background-color: #999;
    color:white;
}
.textbox label {
    position: absolute;  
    color: white; 
    cursor: text; 
    transition: 0.3s;
}
.loginar{
	float:right;
	margin-left:70%;
	display:flex;
	border:black solid 1px;
	padding :10px;
}
#loginbtn{
	width:80px;
	height:80px;
    background-color: rgb(0,200,80);
    outline: none;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 7px;
}
.loginbtnar{
	padding:10px;
}
.loginMain{
	float:right;
	margin-left:70%;
	display:block;
	border:black solid 1px;
	padding :10px;
	width:300px;
height:auto;
}
#profileimg{
width:80px;
height:80px;
}
.rightar{
display:flex;
padding:10px;
}
.infoFnar{
padding:10px;
}
#logoar{
    margin-right: 80%;
    width: 140px;
    height: 50px;
    margin-top: 20px;
}
#logo{
    width: 140px;
    height: 50px;
    margin-top: 20px;
}