#logoar{
    margin-right: 80%;
    width: 140px;
    height: 50px;
    margin-top: 20px;
}
#logo{
    width: 140px;
    height: 50px;
    margin-top: 20px;
}
table{
		margin:auto;
		width:100%;
		border:black solid 1px;
		border-colapse:colapse;
}
body{
    background-color: rgb(245,246,247);
    color: black;
}
th{
	width:100px;
}
.btn{
    background-color: rgb(0,200,80);
    outline: none;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 7px;
}
#titlear{
	float:left;
}
#title{
	width:30%;
}
#writebtnar{
	float:right;
	margin-top:10px;
	padding:5px;
}
#bottom{
	text-align:center;
}
.mid{
	width:100%;
	display:inline;
}
#addFile{
	float:right;
}
#imgview{
	border-top:none;
}
#fileview{
	border:none;
	outline:none;
	border-spacing: 0px;
}
.fileList td{
	border:black solid 1px;
	border-top:none;
}