*{
    font-family: 'Yeon Sung', cursive;
}
.header{
    background-color: black;
}
body{
	    background-color: black;
}
#logo{
    margin-left: 20px;
    width: 90px;
    height: 50px;
    margin-top: 20px;
}
.mid{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: black;
}
.textbox {
    position: relative;
}
.textbox input{
    font-size: 20px;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background-color: #999;
    color:white;
}
.textbox label {
    position: absolute;  
    color: white; 
    cursor: text; 
    transition: 0.3s;
} 
a{
    color: white;
}
.btn{
    background-color: rgb(167,33,22);
    outline: none;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 7px;
}
#log a:hover{
   background-color:rgba(255,255,255,0.3);
}
#free{
    background-color: rgb(167,33,22);
    outline: none;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
}
.footer{
    text-align: center;
    background-color: black;
    border: none;
    outline: none;
    padding: 10px;
    color: grey;
    width:100%;
    height:150px;
    bottom:0;
    position:absolute;   
}