@charset "UTF-8";
#member th{
	background-Color:skyblue;
	color:white;
}
#member{
	text-align:center;
}
#member tbody tr:hover{
		background-Color:skyblue;
}
#detailInfo th{
	background-Color:skyblue;
	color:white;
}
#detailInfo{
	text-align:center;
}
#detailInfo tbody tr:hover{
		background-Color:skyblue;
}