<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member"> 
 	<select id="checkMember" parameterType="String" resultType="String">
 	select id from member where id=#{id}
 	</select>
 	<insert id="create" parameterType="member">
 	insert into member values(#{id},#{pw},#{name},#{emailaddress},#{profileimg},#{oriprofileimg},'','')
 	</insert>
 	<select id="login" parameterType="member" resultType="int">
 	select count(*) from member where id=#{id} and pw=#{pw}
 	</select>
 	<select id="naverCheck" parameterType="String" resultType="int">
 	select count(id) from member where naverid=#{naverid}
 	</select>
 	<select id="kakaoCheck" parameterType="String" resultType="int">
 	select count(id) from member where kakaoid=#{kakaoid}
 	</select>
 	 <insert id="createKakao" parameterType="member">
 	 insert into member(id,pw,name,emailaddress,profileimg,oriprofileimg,kakaoid,naverid) values(#{id},'',#{name},#{emailaddress},#{profileimg},#{oriprofileimg},#{kakaoid},'')
 	</insert>
 	 <insert id="createNaver" parameterType="member">
 	 insert into member(id,pw,name,emailaddress,profileimg,oriprofileimg,kakaoid,naverid) values(#{id},'',#{name},#{emailaddress},#{profileimg},#{oriprofileimg},'',#{naverid})
 	</insert>
 	<select id="kakaoLogin" parameterType="String" resultType="member">
 	select id from member where kakaoid=#{kakaoid}
 	</select>
 	 <select id="naverLogin" parameterType="String" resultType="member">
 	select id from member where naverid=#{naverid}
 	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 